<% if current_user %>
  Welcome, <%= current_user.email %>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign out">
  </form>
<% end %>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div id="new-message">
  <form action="/messages" method="post">
    Title: <input type="text" name="title">
    Body: <input type="text" name="body">
    <input type="submit" value="Send message">
  </form>
</div>

<ul>
  <% @messages.each do |message| %>
    <li><%= message.title %> - <%= message.body %></li>
  <% end %>
</ul>